*.py[cod]
MANIFEST
build/
dist/
po/*.mo
.cache/
.pc/
.pybuild/
.tox/
.DS_Store
venv/
debian/rednotebook/
debian/debhelper-build-stamp
debian/files
debian/rednotebook.postinst.debhelper
debian/rednotebook.prerm.debhelper
debian/rednotebook.substvars
