include rednotebook/images/*.png
include rednotebook/images/redNotebookIcon/*.png
include rednotebook/files/*.glade
include rednotebook/files/*.css
include CHANGELOG.txt
include README.txt
include MANIFEST.in
include rednotebook.desktop
include rednotebook.png
