[Desktop Entry]
#Version=1.0 #Not mandatory
#Encoding=UTF-­8 #Encoding causes problems
Name=RedNotebook
GenericName=Diary
Comment=A desktop diary
Exec=rednotebook
Icon=/usr/share/pixmaps/rednotebook.png
Terminal=false
Type=Application
Categories=Office;
StartupNotify=true
#MimeType=application/x-bittorrent;
