Source: rednotebook
Section: text
Priority: extra
Maintainer: Jendrik Seipp <jendrikseipp@web.de>
Package: rednotebook
Architecture: all
Homepage: http://rednotebook.sourceforge.net
Depends: python (>= 2.5), python-support (>= 0.7.1), python-yaml (>= 3.05), python-gtk2 (>= 2.12), python-gnome2-extras, python-glade2
Recommends: texlive-latex-base, texlive-latex-recommended
Description: Graphical daily journal with calendar, templates and keyword searching
 RedNotebook is a graphical diary and journal to keep track of notes and 
 thoughts throughout the day. It includes a calendar navigation, customizable 
 templates for each day, export functionality and a keyword search and cloud.
 .
 
