name: CI

# see https://github.community/t5/GitHub-Actions/How-to-trigger-an-action-on-push-or-pull-request-but-not-both/m-p/35805
on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
  schedule:
    # Run workflow every morning (* needs quotes).
    - cron: '0 4 * * *'


jobs:
  run-tests:

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-12, macos-13, ubuntu-20.04, ubuntu-22.04]

    steps:
    - uses: actions/checkout@v4

    - name: Show environment
      run: |
        python --version
        python3 --version
        python3 -c "import multiprocessing as m; print('CPUs:', m.cpu_count())"

    - name: Install dependencies (Ubuntu)
      if: startsWith(matrix.os, 'ubuntu')
      run: |
        sudo apt-get update
        sudo apt-get -y install -qq gettext gir1.2-gdkpixbuf-2.0 gir1.2-glib-2.0 gir1.2-gtk-3.0 gir1.2-gtksource-4 gir1.2-pango-1.0 gir1.2-webkit2-4.0 python3 python3-enchant python3-gi python3-yaml

    - name: Install dependencies (macOS)
      if: startsWith(matrix.os, 'macos')
      run: |
        # Without the --overwrite flag Homebrew complains about python@3.12 files that are overwritten.
        # We need pygobject from PyPI. Using only pygobject3 from homebrew leads to "gi module not found".
        brew unlink python@3.12
        brew link --overwrite python@3.12
        sudo rm -r /usr/local/bin/2to3 /usr/local/bin/idle3 /usr/local/bin/pydoc3 /usr/local/bin/python3 /usr/local/bin/python3-config /usr/local/share/man/man1/python3.1 /usr/local/lib/pkgconfig/python3-embed.pc /usr/local/lib/pkgconfig/python3.pc /usr/local/Frameworks/Python.framework/Headers /usr/local/Frameworks/Python.framework/Python /usr/local/Frameworks/Python.framework/Resources /usr/local/Frameworks/Python.framework/Versions/Current
        brew install gettext gobject-introspection gtk+3 libffi cairo gtksourceview3 librsvg adwaita-icon-theme enchant
        python3 -m pip install pyenchant pygobject pyyaml
      env:
        HOMEBREW_NO_INSTALLED_DEPENDENTS_CHECK: on

    - name: Install common dependencies
      run: |
        python3 -m pip install setuptools tox

    - name: Check style
      if: matrix.os == 'ubuntu-22.04'
      run: |
        python3 -m tox -v -e style

    - name: Run tests
      run: |
        python3 -c "import gi"
        python3 -m tox -v -e py
        python3 -m pip install .
